<!DOCTYPE html>
 <html lang="en">
   <head>
     <meta charset="utf-8">
     <title>Lista de livros</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
     <link rel="stylesheet" href="css/index.css" />
   </head>  
       
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.js"></script>
 
   <body>
     <div class="container">
       <h2>Minha lista de Albúns</h2>      
         <input placeholder="adicione um Album" type="text" class="js-novo-livro form-control"><br>
         <input placeholder="Single" type="text" class="js-novo-autor form-control"> <br>          
         <button  @click="addItem" class="js-add btn btn-primary btn-block" type="button">Adicionar!</button>    
        <ul>
         <li>
           <div class="checkbox">
                <label>
                 <input class="js-livro" name="list" type="checkbox" />
                 <big>Judas Priest</big> - <small>Turbo Lover</small>
               </label>
           </div>
         </li>
        <li>           
            <div class="checkbox">
                <label>
                    <input class="js-livro" name="list" type="checkbox">
                    <big>OverKill</big> - <small>Markus Zusak</small>
               </label>
           </div>
		</li>
		
		<div id="app" class="container">
			
			<h2>{{cabecalho}}</h2>
			<ul>
				<li v-for="livro in livros" v-bind:class="{ 'removido': livro.checked }">
					<div class="checkbox">
						<label>
							<input class="js-livro" name="list" type="checkbox" v-model="livro.checked">
							<big>{{livro.titulo}}</big> - <small>{{livro.autor}}</small>
						</label>
					</div>
				</li>
			</ul>
			<div class="footer"><hr/>
				<em>Modifique o título da lista:</em>
				<input v-model="cabecalho"/>
			</div>
		</div>
		
        <li class="removido">
           <div class="checkbox">
                <label>
                    <input class="js-livro"  name="list"  type="checkbox" checked>
                    <big>CandleMass</big> - <small>NightFall</small>
                </label>
           </div>
        </li>        
       </ul>
     </div>
   </body>
 </html>